<section class="mx-auto w-full max-w-screen-sm px-4 text-white">
  <div class="text-right mb-3">
    <button
      routerLink="/task-list"
      type="button"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Volver
    </button>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="space-y-4 md:space-y-6"
    action="#"
  >
    <div>
      <label
        for="category"
        class="block mb-2 text-sm font-medium text-white dark:text-white"
        >Categoria</label
      >
      <input
        type="text"
        name="category"
        id="category"
        class="bg-gray-600 border border-gray-300 text-white rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required=""
        formControlName="category"
      />

      <!-- @if (isRequired('email')) {
            <small class="text-red-500">Este campo es requerido</small>
            } @if (hasEmailError()) {
            <small class="text-red-500">Email no valido</small>
            } -->
    </div>

    <div>
      <label
        for="title"
        class="block mb-2 text-sm font-medium text-white dark:text-white"
        >Título</label
      >
      <input
        type="text"
        name="title"
        id="title"
        class="bg-gray-600 border border-gray-300 text-white rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required=""
        formControlName="title"
      />

      <!-- @if (isRequired('email')) {
            <small class="text-red-500">Este campo es requerido</small>
            } @if (hasEmailError()) {
            <small class="text-red-500">Email no valido</small>
            } -->
    </div>

    <div>
      <label
        for="priority"
        class="block mb-2 text-sm font-medium text-white dark:text-white"
        >Prioridad</label
      >
      <select
        id="priority"
        formControlName="priority"
        class="bg-gray-600 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="baja">Baja</option>
        <option value="media" selected>Media</option>
        <option value="alta">Alta</option>
      </select>
    </div>

    <div>
      <label class="block mb-2 text-sm font-medium text-white dark:text-white">Fecha y hora</label>
      <input
        type="datetime-local"
        formControlName="dueDate"
        class="bg-gray-600 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>

    <div>
      <label class="inline-flex items-center cursor-pointer">
        <input
          formControlName="completed"
          type="checkbox"
          value=""
          class="sr-only peer"
        />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-white dark:text-gray-300"
          >Completado</span
        >
      </label>
    </div>

    <button
      [disabled]="loading()"
      type="submit"
      class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >
      {{
        loading()
          ? idTask()
            ? "Editando..."
            : "Creando..."
          : idTask()
          ? "Editar"
          : "Crear"
      }}
    </button>
  </form>
</section>
